.pagination {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: .02em;
}

.pagination-main {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 250px;
    position: relative;
    margin: 0 -8px;
}

.pagination-product {
    text-align: left;
    display: block;
    width: 250px;
    height: auto;
    position: relative;
    margin: 0 8px 30px;
}

.pagination-img {
    transition: all .1s ease-in-out;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #444;
}

.pagination-img .sale {
    color: #ffffff;
    font-size: 10px;
    background: #76BC42;
    position: absolute;
    left: 0;
    top: 5px;
    padding: 1px 8px;
    text-transform: uppercase;
}

.pagination-img .icon {
    color: #f16081;
    font-size: 30px !important;
    font-weight: bold !important;
    position: absolute;
    right: 15px !important;
    top: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.heart-icon span {
    position: absolute;
    /* right: 8px;
	top: -1px; */
    margin-left: 10px;
    top: 307px;
    height: 14px;
    width: 14px;
    background: #e7ab3c;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
}

.cart-icon {
    margin-left: 42px !important;
}

.pagination-img:hover .icon {
    top: 3px;
    opacity: 1;
}

/*
.icon{
    overflow: hidden;
	position: relative;
} */
/* .icon .icon_heart_alt {
	font-size: 20px;
	color: #252525;
	position: absolute;
	right: 3px;
	top: -15px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
} */